<%= render '/comparisons/overview' %>

<%= render('/layouts/sql_query') unless @sql.blank? %>

<% unless @db_response.blank? %>
  <table class="table table-bordered table-striped">
    <tr>
      <% @db_response.first.keys.each do |key| %>
        <th><%= key %></th>
      <% end %>
    </tr>
    <% @db_response.each do |st| %>
      <tr>
        <% st.values.each do |value| %>
          <td><%= value %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% else %>
  <div class="well">
    Szenario 1: Erstellen eines Berichts, in dem die deutsche Bundesländer ausgehend von Umsatz im Jahr 2010 absteigend nach dem Umsatz sortiert werden.
  </div>
  <div class="well">
    Szenario 2: Zeigen 20 meistverkaufte Produkte, die in Filialen in Hamburg an Privatkunden verkauft wurden, Bericht muss Produktname und Anzahl enthalten.
  </div>
  <div class="well">
    Szenario 3: Erstellen Sie ein Bericht über die Produkte, die im Dezember 2010 in Deutschland verkauft wurden.
  </div>
<% end %>