<%= render '/comparisons/overview' %>

<%= render('/layouts/sql_query') if @sql %>

<table class="table table-bordered table-striped">
  <tr>
    <% @states.first.keys.each do |key| %>
      <th><%= key %></th>
    <% end if @states %>
  </tr>
  <% @states.each do |st| %>
    <tr>
      <% st.values.each do |value| %>
        <td><%= value %></td>
      <% end %>
    </tr>
  <% end if @states %>
</table>