<%= content_for :title, 'Star > Branch' %>

<div class="page-header">
  <h2>
    Star-Schema: Editing branch
  </h2>
</div>

<%= render 'form' %>

<%= link_to 'Show', @star_branch, :class => "btn" %>
