<div class="well">
  <%= link_to('Dimensions', generic_table_dimensions_path, :class => 'btn') %>
  <%= link_to('Aggregations', generic_table_aggregations_path, :class => 'btn') %>
  <%= link_to('DimensionValues', generic_table_dimension_values_path, :class => 'btn') %>
  <%= link_to('FactValues', generic_table_fact_values_path, :class => 'btn') %>
</div>
