<%= content_for :title, 'Star > Customer' %>

<div class="page-header">
  <h2>
    Star-Schema: Editing customer
  </h2>
</div>

<%= render 'form' %>

<%= link_to 'Show', @star_customer, :class => "btn" %>
